* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  transition: all 0.7s ease;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  overflow: hidden;
}
body {
  width: 100%;
  height: 155vh;
  background-image: url("../assets/img/bg-stars.jpg");
  background-size: cover;
  background-position: top center;
  /* background-repeat: no-repeat; */
}
section {
}
.previe {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.intro {
  width: 470px;
  height: 470px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(360deg, #27221c 0%, #000000 100%);
  box-shadow: 0px 0px 50px 0px #ffffff40;
  border-radius: 50%;
}
.arrow {
  margin: 10% 0;
  width: 38px;
}
.site-logo {
  width: 271px;
}
.site--logo {
  width: 141px;
}

/* Heder */

header {
  width: 100%;
  height: 100vh;

  /* bg-image */
  background-image: url("../assets/img/bg-stars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Burger-button */

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 16px;
  cursor: pointer;
}

.bar {
  width: 20px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.hamburger-menu.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburger-menu.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
}
.nav {
  padding: 5% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav--item:nth-child(2) {
  position: absolute;
  right: 10%;
}
.nav--item:nth-child(1) {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section--in {
  padding-top: 15%;
  width: 100%;

  h1 {
    font-weight: 300;
    font-size: 40px;
    color: #f8f0ec;
    span {
      color: #3a65ff;
      font-weight: 200;
    }
    margin-bottom: 15px;
  }
}
.header-section-arrow {
  width: 60px;
}
.bg-elements {
  transform: translateY(-330px);
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.bg-element {
  margin-top: 20%;
  width: 600px;
  height: 600px;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(360deg, #27221c 0%, #000000 100%);
  box-shadow: 0px 0px 250px 0px #ffffff33;

  box-shadow: 0px 0px 50px 0px #ffffff40;
}

.bg-element2 {
  position: absolute;
  left: 0;
  bottom: 10px;
  transform: rotate(10deg) translateX(-30px);
}
/* 
.second-bg-element {
  left: -30%;
} */
/* 
.second-bg-element2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50px);
}
.third-bg-element {
  left: -65%;
}
.third-bg-element2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100px);
} */

/* Animations */
span {
  transition: all 0.1s ease;
}
body.stile .span-stil {
  display: block;
  opacity: 0;
  animation: fadeIn 1s forwards;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.span-put,
.span-mir {
}

body.pute .span-put {
  display: block;
  opacity: 0;
  animation: fadeIn 1.5s forwards;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.span-stil,
.span-mir {
  display: none;
}

body.mire .span-mir {
  display: block;

  opacity: 0;
  animation: fadeIn 1.5s forwards;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.span-stil,
.span-put {
  display: none;
}
.span-stil {
  opacity: 0;
  animation: fadeIn 1s forwards;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body.pute .bg-element {
  transition: all 0.8s ease;
  transform: translateX(-120px);
}
body.mire .bg-element {
  transition: all 0.8s ease;
  transform: translateX(-250px);
}

body.pute .bg-element2 {
  width: 100%;
  transition: all 0.8s ease;
  transform: rotate(-11deg) translateX(3px) translateY(-80px);
}
body.mire .bg-element2 {
  transition: all 0.8s ease;
  transform: rotate(-45deg) translateX(41px) translateY(-50px);
}
/* Animations */

/* Labarotory */
.laboratory {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/img/М_4.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.labarotary-text {
  padding-top: 20%;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.labaratory-title {
  font-weight: 300;
  font-size: 36px;
  text-align: right;
  color: #f8f0ec;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.laboratory-info {
  font-weight: 300;
  font-size: 14px;
  color: #f8f0ec;
}
.laboratory-btn {
  width: 190px;
  height: 46px;
  border-radius: 32px;
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  color: #f8f0ec;
  border: none;
  background-color: #fff;
  box-shadow: 0 4px 12px 0 rgba(0, 163, 255, 0.32);
  background: linear-gradient(135deg, #3a65ff 0%, #2b58f6 100%);
  margin-top: auto;
}
/* Labarotory */

/* Cards */
.welcome-in {
  padding: 10% 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.invite__planet {
  position: absolute;
  border-radius: 50%;
  background: #000;
  -webkit-box-shadow: 0 0 250px 0 rgba(255, 255, 255, 0.2),
    0 0 50px 0 rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 250px 0 rgba(255, 255, 255, 0.2),
    0 0 50px 0 rgba(255, 255, 255, 0.25);
  width: 2000px;
  height: 2000px;
  left: -60%;
  top: 60%;
  z-index: -1;
  -webkit-transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.invite.section--active .invite__planet {
  left: 0;
  top: 50%;
}

.invite .section-title {
  position: relative;
  font-size: 60px;
  line-height: 70px;
  text-align: left;
  bottom: auto;
  right: auto;
}

.invite .section-title::before {
  left: -70px;
}

.invite__list {
  margin-top: 60px;
}

.invite__item {
  overflow: hidden;
  width: 298.14px;
  height: 100px;
  border-radius: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: linear-gradient(
      223.25deg,
      rgba(197, 220, 255, 0.1) 4.827%,
      rgba(124, 177, 255, 0.02) 100.054%
    )
    content-box;
  border: 2px solid rgba(197, 220, 255, 0.1);
}

.invite__item:nth-child(2) {
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
}

.invite__item:nth-child(3) {
  -webkit-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  transform: translateY(-40px);
}

.invite__item p {
  color: #f8f0ec;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
  margin: 50px auto;
  max-width: 80%;
  opacity: 0;
}

.invite__item-title {
  margin-top: 20px;
  text-align: center;
  color: #f8f0ec;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  opacity: 0.3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.invite__item .section-link {
  margin: 0 auto;
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 163, 255, 0.32);
  box-shadow: 0 4px 12px 0 rgba(0, 163, 255, 0.32);
}

.invite__item:hover {
  margin: 5% 0;
  min-height: 100px;
  height: 400px;
}

.invite__item:hover .invite__item-title,
.invite__item:hover p {
  opacity: 1;
}

.section-link {
  color: #fff;
  display: block;
  width: fit-content;
  padding: 15px 20px;
  border-radius: 32px;
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 163, 255, 0.32);
  box-shadow: 0 4px 12px 0 rgba(0, 163, 255, 0.32);
  background: linear-gradient(135deg, #3a42ff 0, #2653ff 100%);
  margin-bottom: 3%;
}
/* Cards */

/* Specialists */
.specialists {
}

.specialists .container {
}

.specialists .specialists-in {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.specialists form {
  margin-top: 30%;
  overflow: hidden;
  width: 298px;
  height: 653px;
  border-radius: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: linear-gradient(
      223.25deg,
      rgba(197, 220, 255, 0.1) 4.827%,
      rgba(124, 177, 255, 0.02) 100.054%
    )
    content-box;
  border: 2px solid rgba(197, 220, 255, 0.1);
}

.specialists form h1 {
  margin: 5% 0;
}

.specialists form h3 {
  margin-bottom: 10%;
}
.input {
  margin: 5% 0;
  width: 90%;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid #f8f0ec;
  stroke-width: 1px;
  opacity: 0.5;
}
::placeholder {
  font-weight: 300;
  font-size: 14px;
  color: #f8f0ec;
}
.specialists form .section-link {
}

/* Specialists */

.services {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.services__planet {
  position: absolute;
  border-radius: 50%;
  width: 2000px;
  height: 2000px;
  left: -100%;
  top: 15%;
  z-index: -1;
}

.services.section--active .services__planet {
  left: -60%;
  top: 60%;
}

.services__item {
  -ms-grid-column-span: 1;
  grid-column: 1 span;
  position: relative;
  z-index: 3;
}

.services__item:hover .services__item-hover {
  opacity: 1;
}

.services__item-container {
  border-radius: 50%;
  width: 235px;
  height: 235px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: linear-gradient(
      223.25deg,
      rgba(197, 220, 255, 0.1) 2.445%,
      rgba(124, 177, 255, 0.02) 100.63%
    )
    content-box;
  border: 2px solid rgba(197, 220, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.services__item-hover {
  -webkit-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 70%;
  height: 70%;
  position: absolute;
  right: 0;
  background-color: #3a42ff;
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
}

.services__item-title {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 15px;
  max-width: 75%;
}

.services__item-text {
  font-weight: 300;
  font-size: 14px;
  max-width: 70%;
  text-align: center;
}


.registation{
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper{
  width: 300px;
  border-image-slice: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(50px);
  background: linear-gradient(223.25deg,rgba(197,220,255,.1) 2.445%,rgba(124,177,255,.02) 100.63%) content-box;
  border: 2px solid rgba(197,220,255,.1);
  color: #fff;
  h3{
    margin-top: 42px;
    font-size: 24px;
    line-height: 28px;
  }
  h4{
    margin-top: 30px;
    font-size: 16px;
    line-height: 18.78px;
  }
  input {
    outline:none;
    margin-top: 19px;
    border: none;
    border-bottom: 1px solid #F8F0EC80;
    background: transparent;
    padding: 7px 75px 7px 12px;
  } 
}
.resume{
  margin-top: 18px;
  transform: translateX(-27px);
  display: flex;
  align-items: center;
  justify-content: start;
  span{
    font-size: 14px;
    color: #3A65FF;
    margin-left: 12px;
  }
}
.select{
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #3A65FF;
}
.subm-btn{
  margin-top: 60px;
  margin-bottom: 64px;
  font-size: 18px;
  border: 1px solid #3A65FF;
  border-radius: 30px;
  padding: 16px 32px;
  color: #fff;
  background: #3A65FF;
}
.specialists, .comands{
  margin-top: 50px;
}
.contact-text{
  padding-top: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact-title {
  font-weight: 300;
  font-size: 36px;
  text-align: right;
  color: #f8f0ec;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.contact-list{
  margin-top: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact-item {
  margin-top: 29px;
  text-align: left;
  max-width: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(50px);
  background: linear-gradient(223.25deg,rgba(197,220,255,.1) 2.445%,rgba(124,177,255,.02) 100.63%) content-box;
  border: 2px solid rgba(197,220,255,.1);
}
.contact-item-text{
  padding: 22px;
  width: 300px;
  h3{
    font-size: 16px;
  }
  h4{
    margin-top: 40px;
  }
}

.questions{
  margin-top: 40px;
  margin-bottom: 77px;
}
.questions-title{
  text-align: center;
}