* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  transition: all 0.7s ease;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  overflow: hidden;
}
body {
  width: 100%;
  height: 55vh;
  background-image: url("../assets/img/bg-stars.jpg");
  background-repeat: no-repeat;
}

.previe {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.intro {
  width: 470px;
  height: 470px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(360deg, #27221c 0%, #000000 100%);
  box-shadow: 0px 0px 50px 0px #ffffff40;
  border-radius: 50%;
}
.arrow {
  margin: 10% 0;
  width: 38px;
}
.site-logo {
  width: 271px;
}
.site--logo {
  width: 141px;
}

/* Heder */

header {
  width: 100%;
  height: 100vh;

  /* bg-image */
  background-image: url("../assets/img/bg-stars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Burger-button */

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 16px;
  cursor: pointer;
}

.bar {
  width: 20px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.hamburger-menu.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburger-menu.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
}
.nav {
  padding: 5% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav--item:nth-child(2) {
  position: absolute;
  right: 10%;
}
.nav--item:nth-child(1) {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section--in {
  padding-top: 15%;
  width: 100%;

  h1 {
    font-weight: 300;
    font-size: 40px;
    color: #f8f0ec;
    span {
      color: #3a65ff;
      font-weight: 200;
    }
    margin-bottom: 15px;
  }
}
.header-section-arrow {
  width: 60px;
}
.bg-elements {
  transform: translateY(-330px);
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.bg-element {
  margin-top: 20%;
  width: 600px;
  height: 600px;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(360deg, #27221c 0%, #000000 100%);
  box-shadow: 0px 0px 250px 0px #ffffff33;

  box-shadow: 0px 0px 50px 0px #ffffff40;
}

.bg-element2 {
  position: absolute;
  left: 0;
  bottom: 10px;
  transform: rotate(10deg) translateX(-30px);
}
/* 
.second-bg-element {
  left: -30%;
} */
/* 
.second-bg-element2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50px);
}
.third-bg-element {
  left: -65%;
}
.third-bg-element2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100px);
} */
span {
  transition: all 0.1s ease;
}
body.stile .span-stil {
  display: block;
  opacity: 0;
  animation: fadeIn 1s forwards;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.span-put,
.span-mir {
}

body.pute .span-put {
  display: block;
  opacity: 0;
  animation: fadeIn 1.5s forwards;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.span-stil,
.span-mir {
  display: none;
}

body.mire .span-mir {
  display: block;

  opacity: 0;
  animation: fadeIn 1.5s forwards;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.span-stil,
.span-put {
  display: none;
}
.span-stil {
  opacity: 0;
  animation: fadeIn 1s forwards;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body.pute .bg-element {
  transition: all 0.8s ease;
  transform: translateX(-120px);
}
body.mire .bg-element {
  transition: all 0.8s ease;
  transform: translateX(-250px);
}

body.pute .bg-element2 {
  width: 100%;
  transition: all 0.8s ease;
  transform: rotate(-11deg) translateX(3px) translateY(-80px);
}
body.mire .bg-element2 {
  transition: all 0.8s ease;
  transform: rotate(-45deg) translateX(41px) translateY(-50px);
}
/* .pizdes {
  background: rainbow;
} */